.navbar {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    color: black;
    background-color: rgb(133, 179, 216);
    border-radius: 15px;
}

.card {
    height: 300px;
    margin-top: 7%;
    margin-bottom: auto;
    width: 400px;
    background-color: #045063(0, 0, 0, 0.4) !important;
}

.card-header h3 {
    color: #045063(0, 0, 0, 0.4) !important;
    font-size: 25px;
}

.input-group-prepend span {
    width: 50px;
    background-color: cornflowerblue;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    margin-left: 3px;
    color: black;
    background-color: cornflowerblue;
    margin-right: 40%;
}