html,
body {
    background-image: url(../../../assets/seello.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Numans', sans-serif;
    margin-left: 7px;
    margin-right: 5px;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 100%;
    width: 300px;
    border: 2ch;
    margin-left: 10%;
}

.btn:hover {
    color: black;
    background-color: rgb(32, 168, 168);
    border-radius: 15px;
}

.btn {
    margin-top: 5px;
    color: black;
    background-color: cornflowerblue;
    margin-right: 25%;
    width: 100%;
}