<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootrap y stilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="container">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <form role="form">
                    <div class="form-group">
                        <label>DNI:</label>
                        <input type="text" class="form-control" id="dni">
                    </div>
                    <div class="form-group">
                        <label>Nombre Completo:</label>
                        <input type="text" class="form-control" id="nombres">
                    </div>
                    <div class="form-group">
                        <label>Contraseña:</label>
                        <input type="password" class="form-control" id="contraseña">
                    </div>
                    <div class="form-group">
                        <label>Genero:</label>
                        <input type="text" class="form-control" id="genero">
                    </div>
                    <div class="form-group">
                        <label>Telefonoo:</label>
                        <input type="text" class="form-control" id="telefono">
                    </div>
                    <div class="form-group">
                        <label>Rol:</label>
                        <input type="number" class="form-control" id="rol">
                    </div>


                    <button type="submit" class="btn btn-default">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>