.imagen {
    background-image: url(../../../assets/CERTIFICADO.PNG);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-left: 20%;
}

.nombreProyecto {
    background-position-x: 50%;
}