<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootrap y stilos -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div>
        <form role="form">
            <div class="form-group">
                <label>Codigo:</label>
                <input type="text" class="form-control" id="codigo">
            </div>
            <div class="form-group">
                <label>Nombre Completo:</label>
                <input type="text" class="form-control" id="nombrescerti">
            </div>
            <div class="form-group">
                <label>Cedula:</label>
                <input type="number" class="form-control" id="cedula">
            </div>
            <div class="form-group">
                <label>Nombre de la carrera:</label>
                <input type="text" class="form-control" id="carrera">
            </div>
            <div class="form-group">
                <label>Nombre del proyecto:</label>
                <input type="text" class="form-control" id="proyecto">
            </div>
            <div class="form-group">
                <label>Barrio:</label>
                <input type="number" class="form-control" id="barrio">
            </div>
            <div class="form-group">
                <label>Parroquia:</label>
                <input type="text" class="form-control" id="parroquia">
            </div>
            <div class="form-group">
                <label>Canton:</label>
                <input type="text" class="form-control" id="canton">
            </div>
            <div class="form-group">
                <label>Numero de horas:</label>
                <input type="number" class="form-control" id="horas">
            </div>
            <div class="form-group">
                <label>Fecha de Inicio:</label>
                <input type="date" name="trip-start" id="fechainicio">
            </div>
            <div class="form-group">
                <label>Fecha de Fin:</label>
                <input type="date" name="trip-start" id="fechaFin">
            </div>




            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
    </div>
</body>



</html>